* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* ----- Header Stuff --------- */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 50px;
    
    font-family: "Bebas Neue";
    color: white;
    background-color: #627357;
    height: 100px
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}

#headerLeftSide {
    cursor: pointer;
}

#headerRightSide {
    display: flex;
    align-items: center;
    font-family: "Oswald";
}

#navToCartBtn {
    background-color: #96b893;
    font-family: "Bebas Neue";
    font-size: 20pt;

    cursor: pointer;

    margin-left: 15px;

    padding: 5px 15px;

    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Bebas Neue;
}

#overallContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
}

#mainPic {
    border: 3px solid black;
    border-radius: 5px;
}

#rightSide {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 673px;

}

#names {
    color: #627357;
    display: flex;
    flex-direction: column;
}

#basePriceDiv {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.priceAmounts {
    color: #4e8058;
}

#nftName {
    font-size: 36pt;
}

#artistName{
    font-size: 20pt;
}

.addonDivs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.check {
    cursor: pointer;

    margin-right: 15px;
}

#beforeCheckout {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.totals {
    display: flex;
    flex-direction: row;
    font-size: 24pt;
}

#addToCartBtn {
    cursor: pointer;

    background-color: #4e8058;
    height: 50px;
    font-family: bebas Neue;
    font-size: 20pt;
    color: white;
    border-radius: 5px;
    
}

